
\.metadata/
DCoTE/**/*.bin
DCoTE/**/*.bat
DCoTE/**/*.lst
DCoTE/**/*.hfs

naf/original/*
!naf/original/.gitkeep
naf/split/*
!naf/split/.gitkeep
naf/new/*
!naf/new/.gitkeep

xbd/original/*
!xbd/original/.gitkeep
xbd/split/*
!xbd/split/.gitkeep
xbd/new/*
!xbd/new/.gitkeep
